@import '@/assets/reset.css';
#vue-inspector-container,
#__vue-devtools-container__ {
  display: none;
}
:root {
  --color: #333;
  --background: #fff;
  --placeholder-color: #afbdcc;
  --webkit-thumb-color: #ccc;
  --webkit-background-color: #f5f5f5;
  color: @color;
  background: @background;
}
:root.dark {
  --color: #fff;
  --background: #000;
  --placeholder-color: #181818;
  --webkit-thumb-color: #3d3d3d;
  --webkit-background-color: #1d1d1d;
}
::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画 */
  animation: none;
}

/*  解决chrome浏览器默认黄色背景问题 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--placeholder-color) inset;
}

/*  设置默认滚动条样式 */
::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
:-moz-placeholder {
  color: var(--placeholder-color);
}
::-moz-placeholder {
  color: var(--placeholder-color);
}
:-ms-input-placeholder {
  color: var(--placeholder-color);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--webkit-background-color);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--webkit-background-color);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--webkit-thumb-color);
  border-radius: 6px;
}
::-webkit-scrollbar-corner {
  background-color: var(--webkit-background-color);
}
::-webkit-resizer {
  background-repeat: no-repeat;
  background-position: bottom right;
}

@color: var(--color);
@background: var(--background);
